<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css">
		
		<link rel="shortcut icon" href="/assets/images/logo.png" type="image/x-icon"/>
		<script src="https://use.fontawesome.com/d8cec0049d.js"></script>
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

		<title>Concert Reviews!</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
