<div class="container.fluid">

  <div class="row">

    <nav class="nNavbar navbar navbar-default navbar-fixed-top">



      <img class="tour-logo text-right navbar-brand" src="../assets/images/tour-report.png">

      <form class="col-sm-6 text-left navbar-form navbar-left pull-right">

        {{!--
        <div class="input-group">
          <input type="text" class="artist-input form-control" placeholder="Search for Artist">
          <span class="input-group-btn">
                        	<button class="select-artist btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria hidden="true"></span></button>
          </span>
        </div> --}}

        <a href="/">Home</a> |
        <a href="/add">Write a Review</a>

      </form>

    </nav>

  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12" id="add-review">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>Add Review</strong></h3>
        </div>

        <div class="panel-body">
          <form action="/api/" method="POST" name="rev">
            <label for="">Artist</label>
            <input type="text" class="form-control" name="Artist"><br>

            <label for="">Venue</label>
            <input type="text" class="form-control" name="Venue"><br>

            <label for="">Date</label>
            <input type="date" class="form-control" name="Date"><br>

            <label for="">Review</label>
            <input type="text" class="form-control" name="Review"><br>

            <input type="submit" class="btn btn-primary btn-md" value="Submit">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>