      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><strong>Add Review</strong></h3>
            </div>

            <div class="panel-body">
              <form action="/api/" method="POST" name="rev">
                  <label for="">Artist</label>
                    <input type="text" class="form-control" name="Artist"><br>

                  <label for="">Venue</label>
                    <input type="text" class="form-control" name="Venue"><br>
                  
                  <label for="">Date</label>
                    <input type="date" class="form-control" name="Date"><br>
                      
                  <label for="">Review</label>
                    <input type="text" class="form-control" name="Review"><br>

                    <input type="submit" class="btn btn-primary btn-md" value="Submit">
              </form>
            </div>
          </div>
        </div>
      </div>