



<h1>List of Artists</h1>

{{#each x}}

<ul>
  <li>{{Artist}}</li>
  <li>{{Venue}}</li>
  <li>{{Review}}</li>
</ul>

{{/each}}

Submit a review:
<form action="/api/" method="post">
  Artist:<br>
  <input type="text" name="Artist">
  <br>
  Venue:<br>
  <input type="text" name="Venue">
  <br><br>
  Review:<br>
  <input type="text" name="Review">
  <br><br>
  <input type="submit" value="Submit">
</form>
