#home {
  height: 600px;
  background-repeat: no-repeat;
  background-position: center; 
  opacity: 0.9;
  background-image: url("../images/background2.jpg");
  width: 100%;
  background-size: cover;
  color: white;
}

.next-review {
color: #428bca;
}

.review-main{
  width: 350px;
}

.form-control{
color: black;

}

.review-container {
margin-top: 30px;

}

#reviewdiv{
background-color: white;
color: black;
padding: 15px;
height: auto;
margin-top: 70px;
margin-left:160px; 


}

.review-text {
font-size: 20px;
}

.date-text {
  padding-left: 20px;

}

.artist-text {
  padding-left: 15px;

}

.tour-logo{
width: 50px;
height: 50px;

}

.artist-review{
margin-top: 70px;

}

.song-api{

  margin-top: 90px;
}

#thanks{

  margin-top:50px;

}

#fm-api {

  margin-top:60px;

}

#add-review{

  margin-top: 60px;
}