#home {
  height: 600px;
  background-repeat: no-repeat;
  background-position: center; 
  opacity: 0.8;
  background-image: url("../images/concert_background.jpg");
  max-width: 100%;
  color: white;
}

.center-block {
height: 50%;


}

#reviewdiv{
background-color: white;
color: black;
padding: 25px;
height: auto;
margin-top: 5px;
margin-left:20px; 
margin-right:20px;
display: block;
}

.review-text {
font-size: 20px;
}

.date-text {
  padding-left: 15px;

}

.artist-text {
  padding-left: 15px;

}
